html {
    background: blue;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Staatliches', cursive;
    color: white;
}

body {
    height: 100vh;
    background: url(/assets/1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    height: 100vh;
    background: #00000080;
    position: relative;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    padding: 7px;
    cursor: pointer;
}

#about {
    display: none;
}

#projects {
    display: none;
}

#contact {
    display: none;
}

#back {
    display: none;
    color: yellow;
    margin-top: 8px;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 15px;
    background: black;
    width: 100%;
    letter-spacing: 2px;
    color: #6161ef;
}

.header {
    font-size: 23px;
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
}


/* project */

.project-element {
    text-decoration: none;
    display: block;
    color: white;
    padding: 12px;
    margin-top: 5px;
    transition: .3s;
    cursor: pointer;
}

.project-element:hover {
    text-decoration: none;
    background: #ffd70029;
    transition: .3s;
}

.project-title {
    font-size: 17px;
}

.project-desc {
    opacity: .8;
    font-size: 15px;
}


/* contact */

.inp-contact {
    width: 100%;
    padding: 5px;
    border: none;
    background: transparent;
    color: white;
    font-weight: bold;
    border-bottom: 3px solid white;
    resize: none;
    border-radius: 0;
}

.inp-contact:focus {
    outline: none;
}

.form-group {
    margin-top: 18px;
}

.send-btn {
    width: 100%;
    padding: 5px;
    border: none;
    background: white;
    color: black;
}

@media only screen and (max-width: 768px) {
    .main {
        font-size: 15px !important;
    }
    .content {
        font-size: 15px !important;
        width: 80%;
    }
    .header {
        font-size: 15px;
    }
    .footer {
        font-size: 11px;
    }
}