html {
    background: blue;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Staatliches', cursive;
    color: white;
}

body {
    height: 100vh;
    background: url(/assets/1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    height: 100vh;
    background: #00000080;
    position: relative;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

ul {
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    padding: 7px;
    cursor: pointer;
}

#about {
    display: none;
}

#back {
    display: none;
    color: yellow;
    margin-top: 8px;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 15px;
    background: black;
    width: 100%;
    letter-spacing: 2px;
    color: #6161ef;
}

.header {
    font-size: 23px;
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
}

@media only screen and (max-width: 768px) {
    .main {
        font-size: 15px !important;
    }
    .content {
        font-size: 15px !important;
    }
    .header {
        font-size: 15px;
    }
    .footer {
        font-size: 11px;
    }
}